<div style="height: 100%; width: 100%" fxLayout="column" (click)="showEnglish = !showEnglish">
    <!--<div fxLayout="row" fxFlex="20%">
        <div fxFlex="100%"></div>
    </div>

    <div fxLayout="row" fxFlex="50%">
        <div class="signs" fxFlex="10%" fxLayoutAlign="start "></div>
        <div class="word" fxFlex="80%" fxLayoutAlign="center stretch" (click)="showEnglish = !showEnglish">{{showEnglish ? _card?.pl : _card?.sp}}</div>
        <div class="signs" fxFlex="10%" fxLayoutAlign="end "></div>
    </div>

    <div fxLayout="row" fxFlex="30%">
        <div class="counter" fxFlex="100%" fxLayoutAlign="center stretch"></div>
    </div>-->
    <div class="word" fxFlex="100%" fxLayoutAlign="center center">{{showEnglish ? _card?.pl : _card?.sp}}</div>
</div> 